{% extends 'baseMobile.html.twig' %}
{% block css %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
     <style>
        .green{
            color: #0ee6b0;
        }
        .grey{
            color: #C2BECB;
        }
        #textLanding{
            font-family: Manrope !important;
            font-size: 4em;
        }
        #landingImg{
            height: 80vh;
        }

        .post-item-wrap{
            border-radius: 20px;
        }

        .card-padded{
            width: 90% !important;
            height: 90% !important;
            margin: 5%;
            border-radius: 20px !important;
        }

        .darkblue{
            color: #424347 !important;
        }

        @media all and (min-width: 0px) and (max-width: 1000px){
            #textLanding{
                font-size: 3em;
                text-align: center;
            }

            #landingImg{
                width: 100%;
                height: unset;
            }

            .groupTextLanding{
                text-align: center;
            }
        }

    </style>
{% endblock %}
{% block bodycontent  %}

    <section id="page-content">
        <div class="container">
            <!-- post content -->

            <!-- Blog -->
            <div id="blog" class="grid-layout post-5-columns m-b-30 grid-loaded" data-item="post-item" style="margin: 0px -20px -20px 0px; position: relative; height: 2422.9px;">
                <!-- Post item-->
                <!-- Page title -->
                <div class="page-title post-item">
                    <h2 class="grey" style="font-weight: 100;">Près de chez vous</h2>
                    <h1 class="green" style="line-height: 0.7em;">Explorer</h1>
                </div>
                <!-- end: Page title -->
                {% for campagne in campagnes %}
                <div class="post-item border" style="padding: 0px 20px 20px 0px; position: absolute; left: 0px; top: 0px;">
                    <div class="post-item-wrap">
                        <div class="post-image">
                            <a href="{{ path('viewCampagne',{id: campagne.id}) }}">
                                <div style="width: 200px; margin : 0 auto;height: 250px;background-image: url('{{ asset(campagne.logo.asset) }}') ; background-repeat: no-repeat;background-position: center ; background-size: contain"></div>
                            </a>
                        </div>
                        <div class="post-item-description card card-padded" style="width: 90% !important;">
                            <h2><a href="{{ path('viewCampagne',{id: campagne.id}) }}" class="darkblue" style="font-weight: 100;">{{ campagne.titre }}
                                </a></h2>
                            <h3 style="position: absolute;right: 20px;top: 20px;" class="darkblue">€{{ campagne.prixPromotion }}</h3>
                            <p href="{{ path('viewCampagne',{id: campagne.id}) }}" class="">Food</p>
                            <div class="barres" style="width: 80%;">
                                <div style="position: absolute;width: 80%;height: 10%;background-color: #F2F3F5;border-radius: 20px;/*! top: 370px; *//*! left: 80px; */">
                                </div>

                                <div style="position: absolute;width: {{ campagne.getPourcentageParticipation80 }}%;height: 10%;background-color: #5be7c4;border-radius: 20px;/*! top: 370px; *//*! left: 80px; */">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %}

                <div class="grid-loader"></div></div>
            <!-- end: Blog -->
            <!-- Pagination -->
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item active"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
            </ul>
            <!-- end: Pagination -->
        </div>
        <!-- end: post content -->
    </section>

{% endblock %}
{% block js %}


{% endblock %}