{% extends 'baseMobile.html.twig' %}
{% block css %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/styleForCards.css') }}">
    <style>
        .no-absolute{
            position: relative !important;
            width: 289px;
        }
        .imgparticipation0{
            filter : blur(0.9px)
        }
        .imgparticipation1{
            left: 10%;
            filter : blur(0.9px)
        }
        .imgparticipation2{
            left: 20%;
            filter : blur(0.9px)
        }
        .imgparticipation3{
            left: 30%;
            filter : blur(0.9px)
        }
        .imgparticipation4{
            left: 40%;
        }
        .portfolio-item.img-zoom{
            width: 200px;
        }
        .portfolio-item.img-zoom .background-image{
            width: 200px;
        }
        .imagesParticipations>div
        {
            width: 30px;
            height: 30px;
            border-radius: 50px;
            background-color: white;
            position: absolute;
            background-size: contain;
            font-weight: 600;
            font-size: 1.2vh;
        }
        @media all and (min-width: 0px) and (max-width: 1000px){
            .portfolio-item.img-zoom{
                width: 160px;
            }
            .portfolio-item.img-zoom .background-image{
                width: 160px;
            }
            .imagesParticipations>div
            {
                width: 25px;
                height: 25px;
                font-size: 15px;

            }
            .paddedPostItem{
                height: 100%;
            }
            .no-absolute{
                width: 170px;
            }
        }
    </style>
{% endblock %}
{% block bodycontent  %}

    <section style="padding-bottom: unset;padding-top: 0;">
        <div class="container">
            <a id="btn-search" href="#"> <i class="icon-search"></i></a>
            <div class="float-right">
                <p class="marker">Montpellier     <span class="fa fa-map-marker"></span> </p>
            </div>
            <!-- post content -->
        </div>
    </section>
    <section style="padding-top: unset">
        <div id="splide4">
            <div class="splide__track">
                <ul class="splide__list flex" >
                    <li class="splide__slide">
                        <img src="{{ asset('pub1.png') }}">
                    </li>
                    <li class="splide__slide">
                        <img src="{{ asset('pub2.png') }}">
                    </li>
                </ul>
            </div>
        </div>
    </section>


    <section style="padding:  0">
        <div class="container np-r">
            <h3  class="heading-title">Populaire</h3>

            <div id="splide1">
                <div class="splide__track">
                    <ul class="splide__list flex">

                        {% for categories in categoriesBag %}
                            <li class="splide__slide populaire-item ">
                                {% for category in categories  %}
                                    <div class="slide-item{% if (loop.index % 2) == 1 %} top {% endif %} row">
                                        <a href="{{ path('search',{'q' : category.name}) }}" class="col-6 background-image cover" style="background-image:url('{{ asset(category.image) }}')">
                                        </a>
                                        <div class="col-6">
                                            <p><a href="{{ path('search',{'q' : category.name}) }}" style="color: black; font-size: 20px"> {{category.name}}</a></p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="np-b np-t ">
        <div class="container np-r">
            <h3  class="heading-title">Recommendation</h3>
            <div id="splide2">
                <div class="splide__track">
                    <ul class="splide__list flex">
                        {% for campagne in mostAdvancedCampagne %}
                            <li class="splide__slide">
                                {% include('mvp/component/productCard.html.twig') %}
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>

        </div>
    </section>
    {% for masterCategorie in masterCategories %}
        <section class="np-b np-t">
            <div class="container np-r">
                <h3> <span class="heading-title masterCategorie" style="border-color: {{ masterCategorie.masterCategory.couleur }} ;margin-bottom: 0px">{{ masterCategorie.masterCategory.name }} </span></h3>
                <div class="row">
                    <p class="category-description col-8" style="font-family: Roboto !important; line-height: 20px">{{masterCategorie.masterCategory.description}}</p>
                </div>
                <div id="splidem{{ loop.index }}">
                    <div class="splide__track">
                        <ul class="splide__list" style="display: inline-flex">
                            {% for category in masterCategorie.masterCategory.sousCategories %}
                                <li class="splide__slide">
                                    <div href="{{ path('search',{'q' : category.name}) }}" class="product-card background-image cover" style="background-image:url('{{ asset( category.image ) }}')">
                                        <h4><a href="{{ path('search',{'q' : category.name}) }}" style="color: white"> Voir plus > </a> </h4>
                                    </div>
                                </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% if masterCategorie.advancedCampagne | length > 0 %}
                    <div id="splidem{{ loop.index }}1">
                        <div class="splide__track">
                            <ul class="splide__list" style="display: inline-flex">
                                {% for campagne in masterCategorie.advancedCampagne %}
                                    <li class="splide__slide">
                                        <div class="portfolio-item img-zoom" style=" height: 100px; border-radius: 10px">
                                            <div class="portfolio-item-wrap">
                                                <div class="portfolio-image" style="border-radius: 15px">
                                                    <a href="{{ path('viewCampagne',{id: campagne.id}) }}" class="background-image" style="background-image: url('{{ asset(campagne.logo.asset) }}') ; height: 100px;display: block"></a>
                                                </div>
                                                <div class="portfolio-description" style="padding : 0 ">
                                                    <a href="{{ path('viewCampagne',{id: campagne.id}) }}">
                                                        <h3>{{ campagne.titre }}</h3>
                                                        <span> {{ campagne.prixPromotion }}€ | {{ campagne.nombreParticipations }}/{{ campagne.nombreParticipants }}</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                {% endif %}

            </div>
        </section>

    {% endfor %}
    <section >
        <div class="container achatEnGroupe" style=" background-image: url('{{ asset('marketplaceBG.png') }}');background-size: contain;background-repeat: no-repeat;background-position: center;">
            <div id="floatText" >
                <h3 class="t27" style=" color: black">Achat en Groupe</h3>
                <p class="t14" style="color: black ; ">Proposer les meilleurs prix de produits disponibles dans votre ville. Acheter ensemble pour profiters des offres les plus attractives.</p>
                <a class="t22" href="#" style=" color: black">Nous Contacter</a>
            </div>
        </div>
    </section>
    <div class="space"></div>
    <div class="space"></div>
{% endblock %}
{% block js %}
    <script>
        let titleMaxHeight = 0;
        $('.card-product-title').each(function (){
            if($(this).height() > titleMaxHeight){
                titleMaxHeight = $(this).height()
            }
        })
        $('.card-product-title').css('min-height',titleMaxHeight + "px")

        new Splide( '#splide1', {
            type     : 'loop',
            height   : '196px',
            autoWidth: true,
            perPage: 4,
            perMove : 1,
            arrows : false,
            pagination : false
        } ).mount();
        new Splide( '#splide2', {
            type     : 'loop',
            height   : 'auto',
            autoWidth: true,
            perPage: 4,
            perMove : 1,
            arrows : false,
            pagination : false
        } ).mount();
        {% for master in masterCategories %}
        new Splide( '#splidem{{ loop.index }}', {
            type     : 'loop',
            height   : 'auto',
            autoWidth: true,
            perPage: 4,
            perMove : 1,
            arrows : false,
            pagination : false
        } ).mount();
        {% if master.advancedCampagne | length > 0 %}
        new Splide( '#splidem{{ loop.index }}1', {
            type     : 'loop',
            height   : 'auto',
            autoWidth: true,
            perPage: 4,
            perMove : 1,
            arrows : false,
            pagination : false
        } ).mount();
        {% endif %}
        {% endfor %}
        new Splide( '#splide4', {
            type     : 'loop',
            perPage: 1,
            width: '100vw',
            perMove : 1,
            arrows : false,
            autoplay : true
        } ).mount();
    </script>

{% endblock %}