{% extends 'base.html.twig' %}
{% block css %}

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <style>
        p,a,h1,h2,h3,label,.btn{
            font-family: Cabin !important;
        }
        span{
            font-family: Cabin;
        }
        #background{
        }
        #featuredImage {
            position: absolute;
            left: 650px;
            top: 200px;
            max-height: 400px;
        }
        li {
            display: inline-block;
            font-size: 15px;
            list-style-type: none;
            padding: 15px;
            text-transform: uppercase;

        }

        li span {
            display: block;
            font-size: 4.5rem;
        }

    </style>
{% endblock %}
{% block bodycontent %}
    <div id="background" style="width: 1200px; height: 628px; overflow: hidden; background-size: cover; background-repeat: no-repeat; ">
        <img id="featuredImage" src="/uploads/images/{{ asset(campagne.logo.name) }}">
        <p style="position: fixed;top: 30px;left: 80px;font-size: 2.8rem;color: white;font-weight: 900;max-width: 250px;letter-spacing: -0.001em;line-height: 1.2;">
            {{ campagne.titre }}</p>
        <p style="position: absolute;top: 20px;left: 350px;font-size: 4rem;color: white;font-weight: 900;line-height: 1.6;">
            {{ campagne.prixPromotion }} €</p>
        <span style="text-decoration: line-through;color: lightgray;left: 370px;position: absolute;top: 120px;font-size: 30px;"> {{ campagne.valeurProduit }}   €</span>
        <p style="position: absolute;top: 300px;font-size: 1.6rem;color: white;left: 80px;line-height: 1.2;font-weight: 700;">Objectif participatif :<br>
            {{ campagne.nombreParticipants }}</p>
        <div id="countdown" style="color: white; position:absolute; top: 200px; left: 80px; background-color: #5be7c4;border-radius: 20px;height: 70px; text-align: center">
            <ul>
                <li style="font-size: 9px; filter: drop-shadow(0 0 0.75rem black)"><span style="font-size: 28px;letter-spacing: -0.003em;font-weight: 900;"  id="days"></span>Jours</li>
                <li style="font-size: 9px;filter: drop-shadow(0 0 0.75rem black)"><span style="font-size: 28px;letter-spacing: -0.003em;font-weight: 900;" id="hours"></span>Heures</li>
                <li style="font-size: 9px;filter: drop-shadow(0 0 0.75rem black)"><span  style="font-size: 28px;letter-spacing: -0.003em;font-weight: 900;"  id="minutes"></span>Minutes</li>
            </ul>
        </div>

        <p style="font-size: 2.3rem;color: #76d8db;text-align: right;position: fixed;top: 40px;left: 1000px;width: 120px;line-height: 1.1;">
            {{ campagne.ville }}</p>

        <div style="position: fixed;width: 300px;height: 20px;background-color: white;border-radius: 20px;top: 370px;left: 80px;">
        </div>

        <div style="position: fixed;width: 150px;height: 20px;background-color: #5be7c4;border-radius: 20px;top: 370px;left: 80px;">
        </div>

        <div style="position: fixed;top: 410px;left: 80px;">
            <div style="width: 50px;height: 50px;border-radius: 50px;background-color: white;border: 2px solid gray; position:absolute;">
            </div>
            <div style="width: 50px;height: 50px;border-radius: 50px;background-color: white;border: 2px solid gray;position: absolute;left: 25px;">
            </div>
            <div style="width: 50px;height: 50px;border-radius: 50px;background-color: white;border: 2px solid gray;position: absolute;left: 50px;">
            </div>
            <div style="width: 50px;height: 50px;border-radius: 50px;background-color: white;border: 2px solid gray;position: absolute;left: 75px;">
            </div>
            <div style="width: 50px;height: 50px;border-radius: 50px;background-color: white;border: 2px solid gray;position: absolute;left: 100px;padding: 10px;font-size: 16px;color: white;background-color: #5ae5c2;font-weight: 700;">
                +76
            </div>
        </div>


        <a class="btn big" style="position: absolute;top: 480px;left: 80px;font-size: 16px;padding: 0.9% 40px;background-color: #194238;border-color: #194238;height: auto;">Participer</a>

        <div style="position: fixed;top: 550px;color: white !important;left: 80px;padding: 15px;background-color: white;border-radius: 20px;line-height: 0px;">
            <p style="line-height: 0.4;font-size: 1.7rem;font-weight: 900;color: #194238;">{{ campagne.nomVendeur }}</p>
            <p style="line-height: 0;padding: 0;margin: 0;font-weight: 800;color: #194238;"><span class="fa fa-shop" aria-hidden="true"></span> Ouvert | <span class="fa fa-clock-o" aria-hidden="true"></span> 07:30 - 10:00 , 11:00 - 01 : 00 </p>
        </div>

    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('js/htmltocanvas.js') }}"></script>
    <script src="{{ asset('js/vibrant.js') }}"></script>
    <script defer>
        function LightenColor(color, percent) {
            var num = parseInt(color.replace("#",""),16),
                amt = Math.round(2.55 * percent),
                R = (num >> 16) + amt,
                B = (num >> 8 & 0x00FF) + amt,
                G = (num & 0x0000FF) + amt;
            return (0x1000000 + (R<255?R<1?0:R:255)*0x10000 + (B<255?B<1?0:B:255)*0x100 + (G<255?G<1?0:G:255)).toString(16).slice(1);
        };

        $('#featuredImage').on('load',function (){
            setTimeout(function () {
                changeColorOfBackground()
            },500)

        })
        function changeColorOfBackground(){
            vibrant = new Vibrant($('#featuredImage')[0]);
            let swatches = vibrant.swatches()
            let color = swatches['Vibrant'].getHex()

            color = LightenColor(color,0)
            let colorLight = LightenColor(color,30);
            let colorDark = LightenColor(color,-30);

            svg = "data:image/svg+xml;utf8,<svg width='1203' height='790' viewBox='0 0 1203 790' fill='none' xmlns='http://www.w3.org/2000/svg'> <g clip-path='url(%23clip0)'> <rect width='1202' height='790' transform='translate(0.244873)' fill='%23F5F7F9'/> <path fill-rule='evenodd' clip-rule='evenodd' d='M13.2708 -158.651C103.099 -214.743 197.67 -134.956 289.702 -105.844C416.708 -65.6679 600.464 -88.1703 642.684 40.4503C685.013 169.405 563.61 315.6 464.268 425.96C385.295 513.692 271.59 530.731 164.758 571.383C48.5047 615.62 -94.9735 748.977 -176.876 669.93C-263.97 585.872 -145.746 423.785 -123.13 293.533C-113.019 235.295 -99.8239 183.899 -82.5379 126.595C-52.5109 27.052 -75.5279 -103.203 13.2708 -158.651Z' fill='%23" + color + "'/> <path fill-rule='evenodd' clip-rule='evenodd' d='M885.113 358.046C975.988 307.002 1066.16 365.565 1155.83 383.299C1279.57 407.773 1461.81 377.965 1498.38 479.335C1535.04 580.967 1409.43 706.888 1307.01 802.429C1225.59 878.38 1112.7 899.345 1005.66 938.975C889.175 982.1 742.288 1099.03 664.594 1040.27C581.976 977.776 705.079 839.201 732.565 732.417C744.854 684.672 759.914 642.266 779.246 594.823C812.828 512.41 795.279 408.506 885.113 358.046Z' fill='url(%23paint0_linear)'/> <path d='M1157.75 31.0872C1147.8 31.0872 1139.75 38.4235 1139.75 47.4943C1139.75 59.7996 1157.75 77.9646 1157.75 77.9646C1157.75 77.9646 1175.75 59.7996 1175.75 47.4943C1175.75 38.4235 1167.7 31.0872 1157.75 31.0872ZM1157.75 53.354C1154.2 53.354 1151.32 50.7288 1151.32 47.4943C1151.32 44.2598 1154.2 41.6346 1157.75 41.6346C1161.3 41.6346 1164.18 44.2598 1164.18 47.4943C1164.18 50.7288 1161.3 53.354 1157.75 53.354Z' fill='%235BE7C4'/> </g> <defs> <linearGradient id='paint0_linear' x1='982.361' y1='322.732' x2='1177.35' y2='912.757' gradientUnits='userSpaceOnUse'> <stop stop-color='%23" + colorDark + "'/> <stop offset='1' stop-color='%23" + colorLight + "'/> </linearGradient> <clipPath id='clip0'> <rect width='1202' height='790' fill='white' transform='translate(0.244873)'/> </clipPath> </defs> </svg> "

            $('#background').css('background-image', 'url("' +  svg + '")');

        }
    </script>

    <script>
        (function () {
            const second = 1000,
                minute = second * 60,
                hour = minute * 60,
                day = hour * 24;

            let birthday = "{{ campagne.debutCampagne | date("M j, Y H:i:s ")}}"
            countDown = (new Date(birthday)).getTime() + 86400000 * {{ campagne.dureeCampagne }},
                x = setInterval(function() {

                    let now = new Date().getTime(),
                        distance = countDown - now;

                    document.getElementById("days").innerText = Math.floor(distance / (day));
                    document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour));
                    document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute));
                    //seconds
                }, 0)
        }());
    </script>

    <script defer>
        $(document).ready(function () {


            setTimeout(function (){
                changeColorOfBackground()
                html2canvas(document.querySelector("#background")).then(canvas => {
                    url = canvas.toDataURL();
                    downloadDataUrlFromJavascript("myAd.png",canvas.toDataURL())
                });
            },200)



        })

        function downloadDataUrlFromJavascript(filename, dataUrl) {

            // Construct the 'a' element
            var link = document.createElement("a");
            link.download = filename;
            link.target = "_blank";

            // Construct the URI
            link.href = dataUrl;
            document.body.appendChild(link);
            link.click();

            // Cleanup the DOM
            document.body.removeChild(link);
            delete link;
        }

    </script>
{% endblock %}