<style>
    p,a,h1,h2,h3,label{
        font-family: Cabin !important;
    }
    span{
        font-family: Cabin;
    }

    .flickity-page-dots{
        z-index: 1000 !important;
    }
    .carousel img{
        height: 100% !important;
    }
    .carousel .polo-carousel-item{
        height: 100% !important;
    }

</style>
<img id="iphone" src="{{ asset('iphone.png') }}" alt="iphone" style="position:fixed;z-index: 100 ; height: 80vh">
<div id="layout" style="width: 700px; height: 500px;position: fixed;top: 35px;left: 43px;">
    <div style="height: 40%;width: 100%" class="image-slider">
        <div class="carousel dots-dark arrows-dark" id="preview-images" data-items="1" data-loop="true" data-autoplay="true" data-animate-in="fadeIn" data-animate-out="fadeOut" data-autoplay="1500" data-arrows="false" style="height: 100%">
            <a href="#"> <div style="background-image: url(' {{ asset(campagne.logo.asset) }}' ); background-size: contain; background-position: center; background-repeat: no-repeat; width: 100%;height: 100%"></div></a>

        </div>

    </div>
    <div style="background-color: white;border-radius: 30px 30px 0 0 ; width: 100% ; height: 60%; overflow-y: scroll; z-index: 1000;">
        <div style="padding: 10% 10%; z-index: 1000;">
            <h3 style="font-size: 1.4vw;font-weight: 700;letter-spacing: 0.1px;color: #304c44;" id="preview-titre">{{campagne.titre }}</h3>
            <p style="font-size: 2.3vw;line-height: 0.5;font-weight: 900;color: #304c44;">€ <span style="color: #54c2a5" id="preview-promotion">{{ campagne.prixPromotion}}</span> </p>
            <p style="color: lightgrey;line-height: 1;letter-spacing: -0.014em;font-weight: 900;font-size: 0.9vw;" id="preview-description">
                {{ campagne.description }} </p> <p style="/*! position: absolute; */top: 300px;font-size: 1vw;color: #304c44;left: 80px;line-height: 1.2;font-weight: 700;">Objectif participatif</p>
            <div class="barres" style="width: 80%;">
                <div style="position: absolute;width: 80%;height: 20px;background-color: #d5d5d5;border-radius: 20px;/*! top: 370px; *//*! left: 80px; */">
                </div>

                <div style="position: absolute;width: 20%;height: 20px;background-color: #5be7c4;border-radius: 20px;/*! top: 370px; *//*! left: 80px; */">
                </div>
            </div>
            <div style="padding-top: 30px;"></div>
            <div style="position: relative;/*! left: 80px; */">
                <div style="width: 4vh;height: 4vh;border-radius: 50px;background-color: white;border: 2px solid gray; position:absolute;">
                </div>
                <div style="width: 4vh;height: 4vh;border-radius: 50px;background-color: white;border: 2px solid gray;position: absolute;left: 8%;">
                </div>
                <div style="width: 4vh;height: 4vh;border-radius: 50px;background-color: white;border: 2px solid gray;position: absolute;left: 16%;">
                </div>
                <div style="width: 4vh;height: 4vh;border-radius: 50px;background-color: white;border: 2px solid gray;position: absolute;left: 24%;">
                </div>
                <div style="width: 4vh;height: 4vh;border-radius: 50px;background-color: white;border: 2px solid gray;position: absolute;left: 32%;padding: 2%;font-size: 12px;color: white;background-color: #5ae5c2;font-weight: 600;">
                    +76
                </div>
            </div>

            <div class="text-center" style="padding-top: 7vh;">
                <p class="btn btn-light" style="color: #54c2a5;width: 70%;border-color: #54c2a5;filter: drop-shadow(0 10px 1rem lightgray);"> En attente </p>
            </div>

        </div>
    </div>
</div>
<script>


</script>

