{% extends 'baseMobile.html.twig' %}
  {% block meta %}
      <meta name=”twitter:card” content=”summary” />
      <meta name=”twitter:site” content=”@shoppon.fr” />
      <meta name=”twitter:title” content=”{{ campagne.titre }}” />
      <meta name=”twitter:description” content=”{{ campagne.description }}” />
      <meta name=”twitter:image” content=”{{ campagne.logo.asset }}”
  {% endblock %}
{% block css %}



    <style>
        .flickity-page-dots{
            z-index: 1000 !important;
        }
        .carousel img{
            height: 100% !important;
        }
        .carousel .polo-carousel-item{
            height: 100% !important;
        }
        .minicard{
            width: 80px;
            height: 80px;
            background-size: contain;
            background-repeat: no-repeat;
            margin: 0 auto;
        }
        .buttons-action-shop-row>.btnspecial{
            border-radius: 5px !important;
            box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
        }
        .btnspecial{
            width: 50% !important;
            cursor: pointer;
            transition: all 0.25s;
        }
        .btnspecial .prix{
            color: white;
            line-height: 56px !important ;
            font-size: 28px;
            text-transform: none !important;
            font-weight: 700;
            letter-spacing: -0.03px !important ;
        }
        .btnspecial .sousphrase{
            font-size: 10px;
            line-height: 12px;
            text-align: center;
            color: white;
        }
        .buttons-action-shop-row>.prixFort {

            background-color: #8DF4DA;
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }
        .buttons-action-shop-row>.prixFort:hover {
            background-color: #74cbb5;
        }

        .buttons-action-shop-row>#participer{
            background-color:  #5BE7C4;
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }
        .buttons-action-shop-row>#participer:hover{
            background-color: #41a78d;
        }

        .buttons-action-shop-row{
            display: inline-flex;
        }

        p,a,h1,h2,h3,h4,h5,h6,label{
            font-family: Cabin !important;
        }
        span{
            font-family: Cabin;
        }

        .flickity-page-dots{
            z-index: 1000 !important;
        }
        .carousel img{
            height: 100% !important;
        }
        .carousel .polo-carousel-item{
            height: 100% !important;
        }

        .imagesParticipations::after{
            content: "{{campagne.nombreParticipations}}/{{campagne.nombreParticipants}}";
            position: absolute;
            color: #c6c9cd;
            right: 0;
            top: 10px;
            font-size: 18px;
            font-weight: 600;
        }
        li {
            display: inline-block;
            font-size: 15px;
            list-style-type: none;
            padding: 5px;
            text-transform: uppercase;

        }

        li span {
            display: block;
            font-size: 4.5rem;
        }

        .has-error input, .has-error textarea{
            border-color: red;
            color: red;
        }
        .has-error .messages p{
            color: red;
        }

        .has-success input,.has-success textarea{
            border-color: #4CD964;
            color: #4CD964;
        }

        .has-success .input::after{
            content: "✓";
            position: relative;
            left: calc(100% - 30px);
            font-size: 27px;
            top: -30px;
            color: #4CD964;
        }

        #mainMenu ul{
            width: 50%;
            margin: 0 auto !important;
            text-align: center;
        }
        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
        .minicontainer{
            padding : 50px 50px;
        }
        .barres{
            width: 80%;
        }

        .barres>div{
            height: 20px;
        }
        .price-desc>.product-price{
            font-size: 3.084vh;
            line-height: 0.5;
            font-weight: 900;
            color: #54c2a5;
        }
        #preview-titre{
            font-size: 3vh;
            line-height: 41px;
        }
        .product-header-actions>a{
            padding: unset;
        }
        .product-header-actions>a>img{
            width: 100%;
        }

        .ma-unset{
            margin : unset !important;
        }

        .product-page-actions
        {
            color: white !important;
            width: 40px;
            height: 40px;
            text-align: center;
            background-color: #0ee6b0;
            opacity: 0.3;
            position: absolute;
            z-index: 100;
            border-radius: 40px;
            transition: 0.3s all;
        }

        .product-page-actions:hover{
            opacity: 1;
        }
        .product-page-actions:hover > span{
            opacity: 1;
        }
        .product-page-actions > span{
            transition: 0.3s all;
        }

        .action-back{
            top: 20px;
            left: 20px;
        }

        .action-share{
            top: 20px;
            right: 20px;
        }
        #product-description
        {
            color:  #C2BECB !important;
        }
        .product-image{
            overflow: visible !important;
        }

        .imagesParticipations>div
        {
            width: 4vh;
            height: 4vh;
            border-radius: 50px;
            background-color: white;
            position: absolute;
            background-size: contain;
            font-weight: 600;
            font-size: 1.2vh;
        }
        #product-page
        {
            background-color: #f9f9f9;
        }

        .preview-image-product{
            width: auto !important;
            margin:  0 auto;
        }

        #previewMethod{
            margin-top: 20px;
            width: 70px;
            height: 70px;
            float: right;

        }
        .price-desc>.product-pricee>p{
            margin-top: 0;
            text-align: left;
            font-size: 4.5vh;
            font-weight: 500 ;
            width: unset;
            padding-right: 15px;
            line-height:  1em;
            color: #4CC5A6;
            margin-bottom : 0px;
        }
        .price-desc>.product-reviews{
            font-size: 2.959vh;
            line-height: 1em;
        }
        .price-desc>.product-reviews>ins{
            position: absolute;
            bottom: 0
        }

        .price-desc
        {
            margin-top: 30px;
        }
        .product .container{
            height: 100%;
        }

        .product .product-image{
            height : 100%;
        }

        .slider-item-div{
            background-size: contain ;
            background-position:center;
            background-repeat: no-repeat;
            height: 100%
        }

        .flickity-page-dots .dot::after{
            background-color: #5BE7C4 !important;
        }
        .flickity-page-dots .dot{
            background-color: #cccccc;
        }
        .flickity-page-dots{
            bottom : -50px !important;
        }

        .timeline::before{
            border : 2px solid #5BE7C4;
        }

        .no-margin-top{
            margin-top : unset !important;
        }

        .no-margin-bottom{
            margin-bottom : unset !important;
        }
        #how{
            background-color: #f9f9f9;
        }

        .timeline-item h4
        {
            color: #5BE7C4;
            text-transform: none;
            font-size: 28px;
        }

        #FAQ
        {
            background-color: #C5F9EC;
        }
        .reponse{
            color: black;
        }
        .objectif-participatif>p{
            font-size: 24px
        }
        .comments .comment {
            background-color: #f9f9f9;
        }
        .chatroom{
            cursor: pointer;
        }
        .chatroom>img{
            width: 80px !important;
            height: 80px;
            margin-top: 15px;
        }
        .chatroom::before{
            content: '5';
            position: absolute;
            color: #0ee6b0;
            left: 30px;
            top:45px;
            font-size: 25px;
            font-weight : bold;
        }
        .btnspecial .prix{
            font-size: 25px !important;
            line-height: 1em !important;
            margin-bottom: 0;
        }
        .btnspecial>.text{
            position: relative;
            top:12px;
        }
        .shoppingIcon{
            width: 35px;
            height: 35px;
        }





        @media all and (max-width: 1000px)
        {
            .chatroom::before{
                left: 21px;
                top:35px;
                font-size: 19px;

            }
            .objectif-participatif>p{
                font-size: 18px
            }
            .comments .comment {
                background-color: white;
            }
            .commentaryContainer{
                background-color: white;
            }
            #how{
                background-color: white;
                margin-bottom: 200px;
            }
            .price-desc>.product-pricee>p{
                font-size: 4vh;
            }


            .flickity-page-dots{
                bottom : -50px !important;
            }
            .price-desc
            {
                margin-top: 0;
            }

            .buttons-action-shop-row>.btnspecial{

                height: 57px !important;

            }
            .btnspecial .prix{
                font-size: 20px !important;
                line-height: 1em !important;
                margin-bottom: 0;
            }
            .btnspecial>.text{
                position: relative;
                top:15px;
            }
            .shoppingIcon{
                width: 35px;
                height: 35px;
            }

            .last-timeline-item
            {
                position: absolute;
            }

            #previewMethod{
                height: 50px;
                width: 50px;
            }
            #product-page{
                background-color: #E5E5E5;
            }
            .imagesParticipations>div
            {
                width: 40px;
                height: 40px;
                font-size: 15px;

            }
            #preview-titre{
                font-size: 2.3vh;
            }
            .chatroom>img{
                width: 60px !important;
                height: 60px;
            }
            .price-desc{
                padding-top:unset;
                padding-bottom: 10px;
            }

            .barres>div{
                height: 15px;
            }
            .barres{
                width: 100%;
            }
            #mainMenu ul{
                width: 100%;
                margin: 0 auto !important;
                text-align: center;
            }

            .minicontainer{
                padding: 0px;
            }
            .product .product-image > a, .product .product-image img {
                height: 100%;
                width: auto;
                margin : 0 auto;
            }
            .product-header.row{
                margin-top: 13px ;
            }
            .product .product-image {
                height: 30vh;
            }

            .price-desc{
                display: flex;
            }
            .product-card{
                background-color: white;
                padding-top: 20px;
                border-radius: 40px 40px 0 0 ;
            }
            #preview-titre{
                line-height: 27px
            }

            .description-container, .commentaryContainer{
                padding : 0 65px;
            }

        }

    </style>

{% endblock %}
{% block bodycontent  %}
<div id="loader" style="width: 100vw; height: 100vh;position:fixed ; top: 0 ; left :0 ; background-color: white; z-index: 1000;" class="hidden">
    <div class="center" style="height: auto;background-color: #0ee6b0; margin : 0 auto;border-radius: 20px;width: 300px;">
        <div style="padding: 20px;">
            <p style="line-height: 1.2;font-size: 1.5vw;color: white;font-weight: 400;margin-bottom: 20px;"><span id="action" style="font-size: 18px;">Enregistrement de la commande</span></p>
            <div style="position:relative; height: 25px">
                <div style="position:absolute; /*! top:5vw ; */ width: 300px; background-color: #8ed2bb;height: 0.5vh;left: -20px;"></div>
                <div id="avancee" style="position: absolute; top: 0; width: 100%; background-color: rgb(6, 121, 90); height: 0.5vh;left: -20px;">
                </div>


            </div><p style="font-size: 2rem;line-height: 0.5;color: white;font-weight: 900;"><span id="avanceenb">100</span>%</p>
        </div>
    </div>
</div>
<section id="product-page" class="product-page p-b-0" >
    <a href="{{ backurl }}" class="product-page-actions action-back"><span class="fa fa-arrow-left center"></span></a>
    <a data-target="#modal-share" data-toggle="modal" class="product-page-actions action-share"><span class="fa fa-share-alt center"></span> </a>
    <div class="product no-margin-bottom">
        <div class="row">
            <div class="col-lg-5 " style="padding-bottom: 20px">
                <div class="container">
                    <div class="product-image" >
                        <div class="preview-image-product-pers" style="height: 100%">
                            <div class="carousel dots-inside arrows-visible arrows-only" data-items="1" data-loop="true" data-autoplay="true" data-lightbox="gallery" style="height: 100%">

                                <div class = "slider-item-div" style="background-image: url('{{ asset(campagne.logo.asset) }}') ;" ></div>
                                {% for additionnal in campagne.imagesAdditionnelles %}
                                    <div class = "slider-item-div" style="background-image: url('{{ asset(additionnal.asset) }}') ;" ></div>
                                {% endfor %}
                            </div>
                        </div>

                        <div id="countdown" style="color: white; position:absolute; bottom: 0; left: 0; background-color: #5be7c4;border-radius: 10px;height: 50px; text-align: center">
                            <ul>
                                <li style="font-size: 9px;filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.2));"><span style="font-size: 22px;letter-spacing: -0.003em;font-weight: 900;" id="days"></span>Jours</li>
                                <span style="font-size: 16px;line-height: 0px;position: relative;bottom: 10px; filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.2))">:</span>
                                <li style="font-size: 9px;filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.2));"><span style="font-size: 22px;letter-spacing: -0.003em;font-weight: 900;" id="hours"></span>Heures</li>
                                <span style="font-size: 16px;line-height: 0px;position: relative;bottom: 10px;filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.2))">:</span>
                                <li style="font-size: 9px;filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.2));"><span style="font-size: 22px;letter-spacing: -0.003em;font-weight: 900;" id="minutes"></span>Minutes</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 product-card">
                <div class="container description-container">

                    <div class="product-description" style="position:relative;">
                        <div>
                            <h6 style="font-style: normal;font-weight: 600;font-size: 15px;line-height: 20px;color: #73c9cf; float: right " class="ma-unset" >
                                Meze  <span class="fa fa-map-marker"></span>
                            </h6>
                            <h6 style="font-style: normal;font-weight: 400;font-size: 15px;line-height: 20px;color: #979797;" class="ma-unset">
                                {{ campagne.nomVendeur }}
                            </h6>
                        </div>
                        <div class="product-header row">

                            <div class="product-header-description col-8" style="padding-right: 0px;">

                                <div class="product-title">
                                    <h3  style="font-weight: 700;letter-spacing: 0.1px;color: #304c44;" id="preview-titre">{{ campagne.titre }}</h3>
                                </div>
                                <div class="price-desc row" style="margin-left: 0;">
                                    <div class="product-pricee">
                                        <p>
                                            <span style="color: black">€ </span>
                                            {{ campagne.prixPromotion }}
                                        </p>
                                    </div>

                                    <div class="product-reviews"><ins href="#" style="text-decoration: line-through ; color:#C2BECB;line-height:48px" > € {{ campagne.valeurProduit }}</ins>
                                    </div>
                                </div>
                            </div>
                            <div class="product-header-actions col-4 row" style="padding : unset">
                                <a href="#comments" class="col-6 chatroom">
                                    <img alt="chatroom" src="{{ asset('chatroom.png') }}">
                                </a>
                                <a class="col-6">
                                    <img id="previewMethod" alt="methode de livraison"  src="{% if campagne.moyen == "collect"%}  {{ asset('collect.png') }} {% else %} {{ asset('livraison.png') }} {% endif %}">
                                </a>

                            </div>

                        </div>
                        <div class="product-description-body">
                            <p id="product-description">{{ campagne.description }}</p>
                            <div class="objectif-participatif">
                                <p style="font-weight: 600;line-height: 30px;color: #194238;font-size: 24px"> Achat Groupé
                                    <a data-lightbox="ajax" href="{{ path('helpBoost') }}"><span class="fa fa-question-circle" style="font-size: 17px;color: grey;" aria-hidden="true"></span></a>
                                </p>
                                <div class="barres" style=" position: relative;height: 40px;">
                                    <div style="position: absolute;width: 100%;background-color: #F2F3F5;border-radius: 20px">
                                    </div>

                                    <div style="position: absolute;width: {{ campagne.pourcentageParticipation }}%;background-color: #5be7c4;border-radius: 20px;">
                                    </div>
                                </div>
                                <div class="imagesParticipations" style="position: relative;height: 60px/*! left: 80px; */">
                                    <div style=" background-image: url('{{ asset('Ellipse.png') }}')">
                                    </div>
                                    <div style="left: 4% ;background-image: url('{{ asset('Ellipse(1).png') }}')">
                                    </div>
                                    <div style="left: 8%;background-image: url('{{ asset('Ellipse(2).png') }}') ">
                                    </div>
                                    <div style="left: 12%;background-image: url('{{ asset('Ellipse(3).png') }}')">
                                    </div>
                                    <div style="left: 16%;color: white;background-color: #5ae5c2">
                                        <span id="nbParticipantsPreview" class="center">+{{ campagne.nombreParticipations }}</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="product-action">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="cart-product-quantity" style="text-align: right;">
                                        <div class="quantity m-l-5" style="margin-bottom: 20px;">
                                            <input type="button" class="minus" value="-">
                                            <input type="text" class="qty" value="1" style="border: none;text-align: right;background-color: rgba(178, 254, 235, 1);">
                                            <input type="button" class="plus" value="+">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 text-center buttons-action-shop-row">
                                    <a class="btnspecial prixFort">
                                        <div class="text">
                                            <p class="prix"> {{ campagne.valeurProduit }} €</p>
                                            <p class="sousphrase"> Acheter Maintenant </p>
                                        </div>

                                    </a>
                                    <a id="participer" class="btnspecial participer " >
                                        <div class="text" style="display: inline-flex">
                                            <div style="width: 78%">
                                                <p class="prix">{{ campagne.prixPromotion}} €</p>
                                                <p class="sousphrase"> Acheter ensemble </p>
                                            </div>
                                            <img class="shoppingIcon" src="{{ asset('shoppingCart.png') }}">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container commentaryContainer">
                <div class="separator"></div>
                <div class="">
                    <div class="ac-item">
                        <h5 class="ac-title">  Questions sur le produit <span style="color: #0ee6b0">({{ comments | length }})</span> {% if commercantReponse %}| Petit vin à répondu <span class="fa fa-crown" style="color: yellow"></span>{% endif %} </h5>
                        <div class="" >
                            <div class="comments" id="comments">

                                <div class="comment-list">
                                    {% for comment in comments %}
                                    <div class="comment">
                                        <div class="image"><img alt="" src="{{ comment.getUser.pictureUrl }}" class="avatar"></div>
                                        <div class="text">
                                            <h5 class="name">{{ comment.getUser.pseudo }} {% if campagne.commercant == comment.getUser %}<span class="fa fa-crown" style="color: yellow"></span> {% endif %} </h5>
                                            <span class="comment_date">{{ comment.datetime | date('à H:i , d M') }}</span>
                                            <a class="comment-reply-link"  style="cursor: pointer" data-related="{{ comment.id }}" data-name="{{ comment.getUser.pseudo }}">Répondre</a>
                                            <div class="text_holder">
                                                <p>{{ comment.commentary }}</p>
                                            </div>
                                        </div>
                                        {% for linkedComment in comment.commentaries %}
                                        <div class="comment">
                                            <div class="image"><img alt="" src="{{ linkedComment.getUser.pictureUrl }}" class="avatar"></div>
                                            <div class="text">
                                                <h5 class="name">{{ linkedComment.getUser.pseudo }} {% if campagne.commercant == linkedComment.getUser %}<span class="fa fa-crown" style="color: yellow"></span> {% endif %} </h5>
                                                <span class="comment_date">{{ linkedComment.datetime | date('à H:i , d M') }}</span>
                                                <a class="comment-reply-link"  style="cursor: pointer" data-related="{{ linkedComment.id }}" data-name="{{ linkedComment.getUser.pseudo }}">Répondre</a>
                                                <div class="text_holder">
                                                    <p>{{ linkedComment.commentary }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    {% endfor %}
                                </div>
                                <a style="font-size: 1em;font-weight : 600;cursor: pointer" onclick="showAllCommentary();" id="showCommentary"> Voir toutes les questions <span class="fa fa-arrow-down"></span></a>
                                    <div class="spinner-border text-success hidden" id="commentary-loading" role="status">
                                        <span class="sr-only">Chargement...</span>
                                    </div>
                                <div class="respond-form" id="respond">
                                    <div class="respond-comment">
                                        Poser une <span>Question</span></div>
                                    <h5 id="respondTo"></h5>
                                    {% if is_granted('ROLE_USER') %}
                                        <form class="form-gray-fields" action="{{ path('createCommentary') }}">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control required"  name="comment" rows="9" placeholder="Posez votre question" id="comment" aria-required="true">
                                                        <input type="text" hidden id="linkedCommentary" name="linkedCommentary">
                                                        {% if is_granted('ROLE_COMMERCANT') %}
                                                            <input type="text" hidden  name="commercantId" value="{{ app.user.id }}">
                                                        {% else %}
                                                            <input type="text" hidden  name="participantId" value="{{ app.user.id }}">
                                                        {% endif %}
                                                        <input type="text" hidden  name="campagneId" value="{{ campagne.id }}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group text-center">
                                                        <button class="btn" type="submit">Poser la question</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    {% else %}
                                        <a class="btn" href="{{ path('app_login') }}">Se connecter</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section id="how" style=" overflow: visible">
    <div class="container">
        <ul class="timeline">
            <!--Timeline item-->
            <li class="timeline-item no-margin-top">
                <div class="timeline-icon">1</div>
                <h4>Participez</h4>
                <p>Vous commandez un bon d'achat dans le commerce de votre choix. Faites-vous plaisir avec un bon d'achat chez vos commerçants préférés: restaurant, boutique, déco ou cadeaux </p>
            </li>
            <!--end: Timeline item-->
            <!--Timeline item-->
            <li class="timeline-item">
                <div class="timeline-icon">2</div>
                <h4>Partagez</h4>
                <p>Plus les participations sont nombreuses sur l'offre, plus cette dernière a des chances d'atteindre son objectif, </p>
            </li>
            <!--end: Timeline item-->
            <!--Timeline item-->
            <li class="timeline-item">
                <div class="timeline-icon">3</div>
                <h4>Soutenez</h4>
                <p>Nous versons directement l'argent au commerçant. Votre action permet de soutenir vos commerçants dans cette période difficile.</p>
            </li>
            <!--end: Timeline item-->
            <!--Timeline item-->
            <li class="timeline-item">
                <div class="timeline-icon">4</div>
                <div class="last-timeline-item">
                    <h4>Were we are now</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem
                        ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales
                        vehicula....</p>
                </div>

            </li>
            <!--end: Timeline item-->
        </ul>
    </div>
</section>
<section id="FAQ">
    <div class="container">
        <h3 style="color:#5BE7C4; font-size: 48px "> FAQ</h3>
        <h5> Questions /Réponses</h5>
        <div class="faq">
            <p>  ➡️ Comment le commerçant est-il informé de mon achat ? </p>
            <p class="reponse"> Le commerçant est informé dans les 48h maximum par mail. </p>
        </div>
        <div class="faq">
            <p>  ➡️ Quand le commerçant reçoit-il l'argent de ma commande ?  </p>
            <p class="reponse"> L'argent est versé au commerçant sous une semaine environ, sans aucun frais, l’Essor Palaisien prend en charge 100% des frais liés à la transaction. </p>
        </div>
        <div class="faq">
            <p>  ➡️ Combien de temps mon bon d'achat est-il valable ?  </p>
            <p class="reponse"> Votre bon d'achat est valable 6 mois à partir de la date d'achat </p>
        </div>
        <div class="faq">
            <p>  ➡️ Comment acheter un bon d'achat pour l'offrir à une tierce personne ? </p>
            <p class="reponse"> Vous devez indiquer le nom de la personne à qui vous souhaitez offrir un bon cadeau dans votre panier dans la note de commande (il suffira ensuite de lui transférer l'email de confirmation).</p>
        </div>
        <div class="faq">
            <p>  ➡️ Que faire si je n'ai pas reçu l'email de confirmation contenant mon bon d'achat ? </p>
            <p class="reponse"> Vérifiez systématiquement vos e-mails indésirables. Vous recevez une confirmation par mail. </p>
        </div>
    </div>
</section>

{% include ('mvp/component/shareIt.html.twig') %}

{% endblock %}
{% block js %}
    <script defer>
        function showAllCommentary(){
            $('#commentary-loading').show();
            $.ajax({
                url: "{{ path('allCommentary') }}?idCampagne={{ campagne.id }}"
            }).done(function (data){
                $('.comment-list').html(data)
                $('#commentary-loading').hide();
                $('#showCommentary').hide();
                $('.comment-reply-link').on('click',function (e){
                    $('#linkedCommentary').val($(e.target).data('related'))
                    $('#respondTo').html('> Répondre à ' + $(e.target).data('name') )
                    $('#comment').focus()
                })
            })

        }
        $('.comment-reply-link').on('click',function (e){
            $('#linkedCommentary').val($(e.target).data('related'))
            $('#respondTo').html('> Répondre à ' + $(e.target).data('name') )
            $('#comment').focus()
        })
        $('.minus').on('click',function (){
            if($('.qty').val() > 1 ){
                $('.qty').val($('.qty').val() * 1 - 1)
            }
        })

        $('.plus').on('click',function (){
            $('.qty').val($('.qty').val() * 1 + 1)
        })

        $('.product-image').find('.preview-image-product').css('height',$('.description-container').height() + 'px')



    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="{{ asset('Template/plugins/validate/validate.js') }}"></script>
    <script>
        let isConnected = {% if is_granted('ROLE_USER') %} true {% else %} false {% endif %};
        let canParticipate = true;
        (function () {
            const second = 1000,
                minute = second * 60,
                hour = minute * 60,
                day = hour * 24;

            let birthday = "{{ campagne.debutCampagne | date("M j, Y H:i:s ")}}"
            countDown = (new Date(birthday)).getTime() + 86400000 * {{ campagne.dureeCampagne }},
                x = setInterval(function() {

                    let now = new Date().getTime(),
                        distance = countDown - now;
                    if(distance < 0 ){
                        distance = 0;
                        $('#countdown').css('background-color','#d22222')
                    }

                    document.getElementById("days").innerText = Math.floor(distance / (day));
                    document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour));
                    document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute));
                    //seconds
                }, 0)
        }());
        $('.participer').on('click',function (event){
            event.preventDefault();
            event.stopPropagation();
        })

    </script>

    <script>


        (function() {
            // Before using it we must add the parse and format functions
            // Here is a sample implementation using moment.js
            validate.extend(validate.validators.datetime, {
                // The value is guaranteed not to be null or undefined but otherwise it
                // could be anything.
                parse: function(value, options) {
                    return +moment.utc(value);
                },
                // Input is a unix timestamp
                format: function(value, options) {
                    var format = options.dateOnly ? "YYYY-MM-DD" : "YYYY-MM-DD hh:mm:ss";
                    return moment.utc(value).format(format);
                }
            });

            // These are the constraints used to validate the form
            var constraints = {
                email: {
                    // Email is required
                    presence: true,
                    // and must be an email (duh)
                    email: true,
                },
                telephone: {
                    // Password is also required
                    presence: true,
                    // And must be at least 5 characters long

                },

            };


            // Hook up the inputs to validate on the fly
            var inputs = document.querySelectorAll("input, textarea, select")
            for (var i = 0; i < inputs.length; ++i) {
                inputs.item(i).addEventListener("change", function(ev) {
                    var errors = validate(form, constraints) || {};
                    showErrorsForInput(this, errors[this.name])
                });
            }

            function handleFormSubmit(form, input) {
                // validate the form against the constraints
                var errors = validate(form, constraints);
                // then we update the form to reflect the results
                showErrors(form, errors || {});
                return !errors;
            }

            // Updates the inputs with the validation errors
            function showErrors(form, errors) {
                // We loop through all the inputs and show the errors for that input
                _.each(form.querySelectorAll("input[name], select[name]"), function(input) {
                    // Since the errors can be null if no errors were found we need to handle
                    // that
                    showErrorsForInput(input, errors && errors[input.name]);
                });
            }

            // Shows the errors for a specific input
            function showErrorsForInput(input, errors) {
                // This is the root of the input
                var formGroup = closestParent(input.parentNode, "form-group")
                    // Find where the error messages will be insert into
                    , messages = formGroup.querySelector(".messages");
                // First we remove any old messages and resets the classes
                resetFormGroup(formGroup);
                // If we have errors
                if (errors) {
                    // we first mark the group has having errors
                    formGroup.classList.add("has-error");
                    // then we append all the errors
                    _.each(errors, function(error) {
                        addError(messages, error);
                    });
                } else {
                    // otherwise we simply mark it as success
                    formGroup.classList.add("has-success");
                }
            }

            // Recusively finds the closest parent that has the specified class
            function closestParent(child, className) {
                if (!child || child == document) {
                    return null;
                }
                if (child.classList.contains(className)) {
                    return child;
                } else {
                    return closestParent(child.parentNode, className);
                }
            }

            function resetFormGroup(formGroup) {
                // Remove the success and error classes
                formGroup.classList.remove("has-error");
                formGroup.classList.remove("has-success");
                // and remove any old messages
                _.each(formGroup.querySelectorAll(".help-block.error"), function(el) {
                    el.parentNode.removeChild(el);
                });
            }

            // Adds the specified error with the following markup
            // <p class="help-block error">[message]</p>
            function addError(messages, error) {
                var block = document.createElement("p");
                block.classList.add("help-block");
                block.classList.add("error");
                block.innerText = error;
                messages.appendChild(block);
            }
            function goTo100(action){
                $('#avancee').css('width','0%');
                $('#action').html(action)
                let percentage = 0;
                let interval = setInterval(function (){
                    if(percentage > 99){
                        clearInterval(interval)
                    }
                    else{
                        percentage += 2;
                        $('#avancee').css('width',(percentage / 100) * 300 +'px');
                        $('#avanceenb').html(percentage)
                    }
                },30)
            }

            $('#participer').on('click',function () {
                if(isConnected){
                    launchAnimation();
                    $.ajax({
                        url: '{{ path('createParticipation') }}' + '?idCampagne=' + {{ campagne.id }} + '&quantity=' + $('.qty').val(),
                        type: 'POST',
                        success: function (data){
                            $('#loader').on('animationFinished',function (){
                                window.location = data;
                            })

                        },
                        error : function (){
                            INSPIRO.elements.notification("Echec de l'envoi de mail","Une erreur est survenue pendant l'envoi de mail, néanmoins, votre participation est prise en compte")
                        }
                    })
                }
                else
                {
                    document.cookie = "referer=" + window.location+";path=/;";
                    window.location = '{{ path('app_login') }}'
                }

            })

            function launchAnimation(){
                $('#loader').show(300);
                goTo100("Création de la participation")
                setTimeout(function (){
                    goTo100("Notification vendeur")
                    setTimeout(function (){
                        goTo100("Enregistrement de la commande")
                        setTimeout(function (){
                            $('#loader').trigger('animationFinished');
                        },1500)
                    },1500)
                },1500)
            }
            let ok = false;

            $("#form").on('submit',function(e) {

                e.preventDefault();
                e.stopPropagation();
                if( handleFormSubmit(this)){
                    $('.mfp-close').click()
                    launchAnimation()
                    var formData = new FormData(this);
                    $.ajax({
                        url: '{{ path('createParticipation') }}',
                        type: 'POST',
                        data: formData,
                        success: function (data) {
                            $('#loader').on('animationFinished',function (){
                                window.location = data
                            })


                        },
                        cache: false,
                        contentType: false,
                        processData: false
                    });
                }

            });

        })();

    </script>
{% endblock %}